<header>
		<div class="liens">
			<div><a href="https://accounts.google.com/signin/v2/sl/pwd?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Gmail</a></div>
			<div><a href="https://www.google.fr/imghp?hl=fr&tab=wi">Images</a></div>
			<div><img src="menu.png" alt="menu" class="menu"></div>
			<div class="connexion"><p>Connexion</p></div>
		</div>
</header>